<section class="row">
	<div class="login-logo">LOGO</div>
	<div class="login-form">
		<form>
			<h1>Bienvenido!</h1>
			<legend>Inicie sesi&oacute;n con su nombre de usuario y contrase&ntilde;a</legend>
			<fieldset>
				<div class="form-group">
					<label>Usuario</label>
					<input class="form-control" type="text" name="usuario" id="usuario" placeholder="Usuario">
				</div>
				<div class="form-group">
					<label>Contrase&ntilde;a</label>
					<input class="form-control" type="password" name="password" id="password" placeholder="Contrase&ntilde;a">
				</div>
				<br>
				<div class="form-group">
					<button class="btn btn-primary" type="button" name="button_inicioSesion" id="button_inicioSesion" data-loading-text="Iniciando sesi&oacute;n...">Iniciar sesi&oacute;n</button>
				</div>
				<label>Olvido contrase&ntilde;a?</label>
			</fieldset>
			<input type="hidden" name="domain" id="domain" value="usuarios">
			<input type="hidden" name="action" id="action" value="inicioSesion">
		</form>
	</div>
</section>